<!doctype html>
<html lang="en">

<head>
	<title>BSC System</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="../static/app/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/app/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/app/assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="../static/app/assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="../static/app/assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="../static/app/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../static/app/assets/img/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="/AdminChainInfo/"><img src="../static/app/assets/img/logo.jpg" alt="Beijing Science&Technology BigData Platform" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Search dashboard...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
{#						<li class="dropdown">#}
{#							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>#}
{#							<ul class="dropdown-menu">#}
{#								<li><a href="#">Basic Use</a></li>#}
{#								<li><a href="#">Working With Data</a></li>#}
{#								<li><a href="#">Security</a></li>#}
{#								<li><a href="#">Troubleshooting</a></li>#}
{#							</ul>#}
{#						</li>#}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="../../static/app/assets/img/user2.png" class="img-circle" alt="Avatar"> <span>{{id}}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="/Index/"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="/AdminChainInfo/" class=""><i class="lnr lnr-home"></i> <span>主页</span></a></li>
						<li>
							<a href="#subPages" data-toggle="collapse" class=""><i class="lnr lnr-file-empty"></i> <span>个人中心</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse">
								<ul class="nav">
									<li><a href="/Index/" class="">登出</a></li>
								</ul>
							</div>
						</li>
						<li><a href="/AdminDataInfo/" class="active"><i class="lnr lnr-dice"></i> <span>数据审核</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<!-- TABLE STRIPED -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">用户上传</h3>
								</div>
                                <button type="button" class="btn btn-primary" onclick="reviewDataAllPass()" style="float:left"> 一键全部通过 </button> <br>

								<div class="panel-body">
									<table class="table table-striped">
										<thead>
											<tr>
                                                <th align="center" >数据所有者</th>
												<th align="center" onclick=adminDataSortBase('data_name')>数据名 <i class="{{ sort_class.data_name }}"> </i></th>
                                                <th align="center" onclick=adminDataSortBase('data_info')>数据简介 <i class="{{ sort_class.data_info }}"> </i></th>
												<th align="center" onclick=adminDataSortBase('timestamp')>上传时间 <i class="{{ sort_class.timestamp }}"> </i></th>
                                                <th align="center" onclick=adminDataSortBase('data_source')>数据来源 <i class="{{ sort_class.data_source }}"> </i></th>
                                                <th align="center" onclick=adminDataSortBase('first_title')>所属专题 <i class="{{ sort_class.first_title }}"> </i></th>
                                                <th align="center" onclick=adminDataSortBase('second_title')>所属科技资源 <i class="{{ sort_class.second_title }}"> </i></th>
                                                <th align="center" onclick=adminDataSortBase('data_type')>数据类型 <i class="{{ sort_class.data_type }}"> </i></th>
                                                <th align="center" onclick=adminDataSortBase('data_size')>数据大小 <i class="{{ sort_class.data_size }}"> </i></th>
												<th align="center" onclick=adminDataSortBase('data_status')>数据状态 <i class="{{ sort_class.data_status }}"> </i></th>
                                                <th align="center" >审核操作</th>
											</tr>
										</thead>

										<tbody>
                                        <!-- data.status = 0 待审核， =1 审核通过，=2 审核不通过 -->
										{% for data in datas %}
											<tr>
                                                <td align="">  {{data.user_id}}</td>
												<td align="">  {{data.data_name}}</td>
												<td align="">  {{data.data_info}}</td>
												<td align="">  {{data.timestamp}}</td>
                                                <td align="">  {{data.data_source}}</td>
                                                <td align="">  {{data.first_title}}</td>
                                                <td align="">  {{data.second_title}}</td>
                                                <td align="">  {{data.data_type}}</td>
                                                <td align="">  {{data.data_size}}</td>
                                                {% if data.data_status == '审核中' %}
												    <td align="" bgcolor="aqua">  {{data.data_status}}</td>
                                                {% elif data.data_status == '审核通过' %}
                                                    <td align="" bgcolor="#b0e0e6">  {{data.data_status}}</td>
                                                {% elif data.data_status == '审核不通过' %}
                                                    <td align="" bgcolor="#d3d3d3">  {{data.data_status}}</td>
                                                {% endif %}
												<td><button class="btn btn-info"  id="{{data.data_id}}" onclick="reviewAcknowledge(this);">审核通过</button>
													<button class="btn" style="background: #dca7a7;" id="{{data.data_id}}" onclick="reviewReject(this);">审核不通过</button></td>
											</tr>
										{% endfor %}
										</tbody>
										<br>
										<form method="POST" action="/AdminDataInfo/">
											<select id="searchBase" name="searchBase">
{#												<option value="data_name">数据名</option>#}
{#												<option value="data_info">数据简介</option>#}
                                                <option value="data_name">数据名</option>
                                                <option value="data_info">数据简介</option>
                                                <option value="data_source">数据来源</option>
                                                <option value="first_title">所属专题</option>
                                                <option value="second_title">所属科技资源</option>
											</select>
											<input type="text" id="searchField" name="searchField" value="">
											<button class="btn btn-primary btn-xs" type="submit">搜索</button>
										</form>
									</table>
									{% if datas.has_other_pages %}
									<ul class="pagination">
										{% if datas.has_previous %}
      										<li><a href="?page={{ datas.previous_page_number }}">&laquo;</a></li>
									 	{% else %}
											<li class="disabled">
											<span>&laquo;</span>
											</li>
										{% endif %}
{#										{% for i in datas.paginator.page_range %}#}
                                        {% for i in datas.paginator.page_range_ext %}
											{% if datas.number == i %}
											<li class="active">
												<span>{{ i }}
													<span class="sr-only">(current)</span>
												</span>
											</li>
											{% else %}
											<li>
												<a href="?page={{ i }}">{{ i }}</a>
											</li>
											{% endif %}
										{% endfor %}
										{% if datas.has_next %}
											<li><a href="?page={{ datas.next_page_number }}">&raquo;</a></li>
									 	{% else %}
											<li class="disabled"><span>&raquo;</span></li>
										{% endif %}
									</ul>
									{% endif %}
								</div>
							</div>
							<!-- END TABLE STRIPED -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p align="center" class="copyright" >&copy; 2018 <a href="#" target="_blank">BUAA</a>. All Rights Reserved.</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="../static/app/assets/vendor/jquery/jquery.min.js"></script>
	<script src="../static/app/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../static/app/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../static/app/assets/scripts/klorofil-common.js"></script>
{#	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>#}
{#	<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>#}
{#	<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>#}
    <script src="../static/app/assets/scripts/jquery.min.js"></script>
	<script src="../static/app/assets/scripts/jquery.cookie.js"></script>
	<script src="../static/app/assets/scripts/md5.js"></script>
	<script src="../static/app/javascript/review.js"></script>
    <script src="../static/app/javascript/sort.js"></script>
</body>

</html>
