<!doctype html>
<html lang="en">

<head>
	<title>BSC System</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="../static/app/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/app/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/app/assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="../static/app/assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="../static/app/assets/css/demo.css">
    <script src="../static/app/assets/scripts/echarts.js"></script>
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="../static/app/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../static/app/assets/img/favicon.png">
    <link rel="stylesheet" href="../static/app/assets/css/popWindow.css">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="/ChainInfo/"><img src="../static/app/assets/img/logo.jpg" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Search dashboard...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
                                <span class="badge bg-danger">{{ unread_number }}</span>
							</a>
							<ul class="dropdown-menu notifications">
                                {% for notice in unread_notices %}
                                    <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>{{ notice.info }}</a></li>
                                {% endfor %}

								<li><a href="/Notify/" class="more">See all notifications</a></li>
							</ul>
						</li>
{#						<li class="dropdown">#}
{#							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>#}
{#							<ul class="dropdown-menu">#}
{#								<li><a href="#">Basic Use</a></li>#}
{#								<li><a href="#">Working With Data</a></li>#}
{#								<li><a href="#">Security</a></li>#}
{#								<li><a href="#">Troubleshooting</a></li>#}
{#							</ul>#}
{#						</li>#}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="../static/app/assets/img/user.png" class="img-circle" alt="Avatar"> <span>{{id}}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="/UserInfo/"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="/Notify/"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
                                <li><a href="/ModifyPwd/"><i class="lnr lnr-envelope"></i> <span>Modify Password</span></a></li>
								<li><a href="/Index/"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="/ChainInfo/" class="active"><i class="lnr lnr-home"></i> <span>主页</span></a></li>
						<li>
							<a href="#subPages" data-toggle="collapse" class=""><i class="lnr lnr-file-empty"></i> <span>个人中心</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse">
								<ul class="nav">
									<li><a href="/UserInfo/" class="">交易记录</a></li>
                                    <li><a href="/Notify/" class="">通知中心</a></li>
                                    <li><a href="/MyData/" >我的数据</a></li>
									<li><a href="/Index/" class="">登出</a></li>
								</ul>
							</div>
						</li>
                        <li><a href="/Upload/" class=""><i class="lnr lnr-dice"></i> <span>上传数据</span></a></li>
						<li><a href="/BuyableData/" class=""><i class="lnr lnr-dice"></i> <span>数据市场</span></a></li>
						<li><a href="/Order/" class=""><i class="lnr lnr-chart-bars"></i> <span>历史订单</span></a></li>
                        <li><a href="/DataStatistics/" class=""><i class="lnr lnr-chart-bars"></i> <span>数据统计</span></a></li>
{#                        <li><a href="/Recharge/" class=""><i class="lnr lnr-dice"></i> <span>账户充值</span></a></li>#}
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<!-- TABLE STRIPED -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">区块链详情</h3>
								</div>
								<div class="panel-body">
									<table class="table table-striped">
{#                                        <div id="blockDetail" class="collapse">#}
{#                                            <a href="#blockDetail" data-toggle="collapse"><button onclick="document.getElementById('new_add_info').remove();">隐藏区块详情</button></a>#}
{#                                                    <span id="one_block_detail"></span>#}
{#                                            <a href="#blockDetail" data-toggle="collapse"><button onclick="document.getElementById('new_add_info').remove();">隐藏区块详情</button></a>#}
{#                                        </div>#}

										<thead>
											<tr>
                                                <th align="center" onclick=blockSortBase('height')>区块高度 <i class="{{ sort_class.height }}"> </i></th>
                                                <th align="center" onclick=blockSortBase('timestamp')>时间戳 <i class="{{ sort_class.timestamp }}"> </i></th>
                                                <th align="center" onclick=blockSortBase('block_size')>区块大小(B) <i class="{{ sort_class.block_size }}"> </i></th>
                                                <th align="center" onclick=blockSortBase('tx_number')>Transaction数量 <i class="{{ sort_class.tx_number }}"> </i></th>
                                                <th align="center" onclick=blockSortBase('block_hash')>区块hash <i class="{{ sort_class.block_hash }}"> </i></th>
                                                <th align="center" >区块详情 </th>
											</tr>
										</thead>

										<tbody>
										{% for block in blocks %}
											<tr>
                                                <td align="">  {{block.height}}</td>
												<td align="">  {{block.timestamp}}</td>
												<td align="">  {{block.block_size}}</td>
												<td align="">  {{block.tx_number}}</td>
                                                <td align="">  {{block.block_hash}}</td>
                                                <td>
{#                                                    <a href="#blockDetail{{ block.height }}" data-toggle="collapse" class="">#}
                                                        <a><button class="fa fa-balance-scale"  style=" background: honeydew; font-size: 16px" name="block_height_detail" id="myBtn{{block.height}}" value="{{block.height}}" onclick="popWindow({{block.height}})">区块详情</button></a>
{#                                                        <button class="fa fa-balance-scale"  style=" background: honeydew; font-size: 16px" name="block_height_detail" id="block_height_detail" value="{{block.height}}" onclick="interpreterBlock(this);">区块详情</button></a>#}
													<button class="fa fa-bandcamp"  style=" background: honeydew; font-size: 16px" name="block_height" id="block_height" value="{{block.height}}" onclick="showBlockDetail(this);">区块源文件</button>
													<div id="{{ block.height }}"> </div>
{#                                                    <button id="myBtn{{block.height}}">打开弹窗</button>#}
                                                    <div id="myModal{{ block.height }}" class="modal">
                                                      <!-- 弹窗内容 -->
                                                        <div class="modal-content">
                                                          <div class="modal-header">
                                                            <span id="close{{ block.height }}" class="close" onclick="hideWindow({{block.height}})">&times;</span>
                                                            <h2>区块{{ block.height }}详细信息</h2>
                                                          </div>
                                                          <div class="modal-body">
                                                            <p>区块诞生时间: <strong>{{ block.timestamp }}</strong></p>
                                                            <p>区块记录数据条数: <strong>{{ block.tx_number }}</strong></p>
                                                            <p>区块自身hash值: <strong>{{ block.block_hash }}</strong></p>
                                                            <p style="color: #009cd7"><strong> 详情记录如下: </strong> </p>
                                                              <ul>
                                                              {% for itemTX in  block.wholeInfo.transactions %}

                                                                  {% if itemTX.action == 'upload' %}
                                                                      <li><p>用户 <strong style="color: #761c19;"> {{ itemTX.seller }} </strong>
                                                                          在 <strong> {{ itemTX.timestamp }} </strong>
                                                                          以 <strong style="color: #761c19;"> 价格{{ itemTX.credit }} </strong>
                                                                          上传了数据 <strong style="color: #009cd7"> {{ itemTX.data_uuid }}  </strong> .</p></li>
                                                                  {% endif %}

                                                                  {% if itemTX.action == 'buy' %}
                                                                      <li><p>用户 <strong style="color: #761c19;"> {{ itemTX.buyer }} </strong>
                                                                          在 <strong> {{ itemTX.timestamp }} </strong>
                                                                          以 <strong style="color: darkorchid"> 价格{{ itemTX.credit }} </strong>
                                                                          使用了数据所有方 <strong style="color: #761c19;"> {{ itemTX.seller }} </strong>
                                                                          的数据 <strong style="color: #009cd7"> {{ itemTX.data_uuid }}  </strong> .</p></li>
                                                                  {% endif %}

                                                                  {% if itemTX.action == 'login' %}
                                                                      <li><p>用户 <strong style="color: #761c19;">{{ itemTX.seller }} </strong> 在 <strong> {{ itemTX.timestamp }}</strong> 登录系统. </p></li>
                                                                  {% endif %}

                                                                  {% if itemTX.action == 'download' %}
                                                                      <li><p>用户 <strong style="color: #761c19;"> {{ itemTX.seller }} </strong>
                                                                          在 <strong> {{ itemTX.timestamp }} </strong>
                                                                          下载了数据 <strong style="color: #009cd7"> {{ itemTX.data_uuid }}  </strong> .</p></li>
                                                                  {% endif %}

                                                                  {% if itemTX.action == 'review_pass' %}
                                                                      <li><p>管理员 <strong style="color: #005be2"> {{ itemTX.reviewer }} </strong>
                                                                          在 <strong> {{ itemTX.timestamp }} </strong>
                                                                          <strong style="color: green">审核通过</strong>了用户<strong style="color: #761c19;"> {{ itemTX.seller }}  </strong>
                                                                          的数据<strong style="color: #009cd7"> {{ itemTX.data_uuid }}  </strong> .</p></li>
                                                                  {% endif %}

                                                                  {% if itemTX.action == 'review_reject' %}
                                                                      <li><p>管理员 <strong style="color: #005be2"> {{ itemTX.reviewer }} </strong>
                                                                          在 <strong> {{ itemTX.timestamp }} </strong>
                                                                          <strong style="color: #de1219">审核拒绝</strong>了用户<strong style="color: #761c19;"> {{ itemTX.seller }}  </strong>
                                                                          的数据<strong style="color: #009cd7"> {{ itemTX.data_uuid }}  </strong> .</p></li>
                                                                  {% endif %}
{#                                                                  <p>数据使用方: {{ itemTX.buyer }}</p>#}
{#                                                                  <p>时间: {{ itemTX.timestamp }}</p>#}
{#                                                                  <p>数据所有方: {{ itemTX.seller }}</p>#}
{#                                                                  <p>被使用的数据名: {{ itemTX.data_uuid }}</p>#}
{#                                                                  <p>数据标价: {{ itemTX.credit }}</p>#}
                                                                  {% endfor %}
                                                                </ul>
                                                          </div>
{#                                                          <div class="modal-footer">#}
{#                                                            <h3>弹窗底部</h3>#}
{#                                                          </div>#}
                                                        </div>

                                                    </div>
                                                    <!-- 弹窗 -->
												</td>
											</tr>
										{% endfor %}
										</tbody>
										<br>
										<form method="POST" action="/ChainInfo/">
											<select id="searchBase" name="searchBase">
												<option value="height">区块高度</option>
												<option value="block_hash">区块hash</option>
											</select>
											<input type="text" id="searchField" name="searchField" value="">
											<button class="btn btn-primary btn-xs" type="submit">搜索</button>
										</form>
									</table>
									
									{% if blocks.has_other_pages %}
									<ul class="pagination">
										{% if blocks.has_previous %}
      										<li><a href="?page={{ blocks.previous_page_number }}">&laquo;</a></li>
									 	{% else %}
											<li class="disabled">
											<span>&laquo;</span>
											</li>
										{% endif %}
{#										{% for i in blocks.paginator.page_range %}#}
                                        {% for i in blocks.paginator.page_range_ext %}

											{% if blocks.number == i %}
											<li class="active">
												<span>{{ i }}
													<span class="sr-only">(current)</span>
												</span>
											</li>
											{% else %}
											<li>
												<a href="?page={{ i }}">{{ i }}</a>
											</li>
											{% endif %}
										{% endfor %}
										{% if blocks.has_next %}
											<li><a href="?page={{ blocks.next_page_number }}">&raquo;</a></li>
									 	{% else %}
											<li class="disabled"><span>&raquo;</span></li>
										{% endif %}
									</ul>
									{% endif %}
								</div>
							</div>
							<!-- END TABLE STRIPED -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p align="center" class="copyright" >&copy; 2018 <a href="#" target="_blank">BUAA</a>. All Rights Reserved.</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
{#    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>#}
{#    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>#}
    <link rel="stylesheet" type="text/css" href="../static/app/assets/scripts/datatables.min.css"/>
    <script type="text/javascript" src="../static/app/assets/scripts/datatables.min.js"></script>
	<script src="../static/app/assets/vendor/jquery/jquery.min.js"></script>
	<script src="../static/app/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../static/app/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../static/app/assets/scripts/klorofil-common.js"></script>
{#	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>#}
{#	<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>#}
{#	<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>#}
    <script src="../static/app/assets/scripts/jquery.min.js"></script>
	<script src="../static/app/assets/scripts/jquery.cookie.js"></script>
	<script src="../static/app/assets/scripts/md5.js"></script>
    <script src="../static/app/javascript/blockInfo.js"></script>
    <script src="../static/app/javascript/sort.js"></script>
    <script src="../static/app/javascript/popWindow.js"></script>
</body>

</html>
